* {
    background-color: #352e2e;
    font-family: monospace;
    color: rgb(60, 255, 1);
    padding: 0px;
}

button,
datalist {
    background-color: rgb(85, 85, 85);
}

input[type=text] {
    color: rgb(179, 255, 179);
    background-color: rgb(102, 86, 86);
    border: 1px solid;
    border-color: #696 #363 #363 #696;
}

#serialResults {
    font-family: monospace;
    white-space: pre;
    height: 478px;
    width: 47%;
    border-style: solid;
    overflow: scroll;
    background-color: rgb(88, 92, 92);
    padding: 10px;
    margin: 0px;
}

body {
    margin: 0;
}

canvas { 
    width: 50% !important;
    height: 50% !important;
    position: fixed;
    top: 25%;
    right: 8px;
    border: 1px solid;
    border-color: #696 #363 #363 #696;
}